body{
    margin:2rem 2rem;
    background-image: url(https://m.media-amazon.com/images/I/51-mTVRX66L._AC_UX569_.jpg);
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: 200px;
    background-size: 500px 500px;
}